<div class="indc-container">
    <div class="indc-header">
        <div class="indc-furniture">
            <h1 class="indc-title">Which countries are doing the most to stop dangerous global warming?</h1>
            <p>
                With less than two months until nearly 200 countries meet in Paris for UN talks to agree
                a new climate deal on cutting emissions post-2020, we’ve taken an in-depth look at 14 key
                countries and blocs’ pledges ahead of the summit (known as Intended Nationally Determined
                Contributions or INDCs in UN jargon). Which countries are being ambitious? Who are the
                blockers, and why? Browse the chart below, and scroll down for analysis
            </p>
            <p>
                <button class="interactive-share" data-network="facebook"></button>
                <button class="interactive-share" data-network="twitter" data-country="all"></button>
            </p>
        </div>
        <div style="border-top: 1px solid #dcdcdc"></div>
        <div class="indc-overview-container" started="false">
            <div class="indc-copy indc-copy--desktop">
                <h3 class="indc-copy__header"></h3>
                <p class="indc-copy__desc"></p>
            </div>

            <div class="indc-stepper">
                <button class="indc-stepper__arrow indc-stepper__arrow--prev">
                    <svg width="48" height="48" viewBox="-12.5 -12.5 48 48"><path d="M0 11.5l10.296 10.1.96-.96L3.2 12H23v-2H3.2L11.255.96l-.96-.96L0 10.5v1" fill="black"/></svg>
                </button>
                <button class="indc-stepper__arrow indc-stepper__arrow--next">
                    <svg width="48" height="48" viewBox="-12.5 -12.5 48 48"><path d="M23 11.5L12.704 21.6l-.96-.96L19.8 12H0v-2h19.8L11.745.96l.96-.96L23 10.5v1" fill="black"/></svg>
                </button>
                <div class="indc-stepper__progress">
                    <span class="indc-stepper__currentview"></span>
                    of
                    <span class="indc-stepper__viewcount"></span>
                </div>
            </div>

            <div class="indc-svg-container"></div>

            <div class="indc-copy indc-copy--mobile">
                <h3 class="indc-copy__header"></h3>
                <p class="indc-copy__desc"></p>
            </div>

        </div>
    </div>

    <div class="indc-country-menu-placeholder">
        <div class="indc-country-menu-container">
            <ul class="indc-country-menu">
            {{~it.countries :country:i}}
            <li class="indc-country-menu__item" country="{{=country.name}}">{{=country.name}}</li>
            {{~}}
            </ul>
        </div>
    </div>

    <div class="indc-content-container">
        {{~it.countries :country:i}}
            <div class="indc-article" country="{{=country.name}}">
                <a class="indc-article__anchor" country="{{=country.name}}"></a>
                <div class="indc-article__header-container">
                    <div class="indc-article__header">
                        <h1 class="indc-article__country">
                            <div class="indc-article__country__share">
                                <button class="interactive-share" data-network="facebook"></button>
                                <button class="interactive-share" data-network="twitter" data-country="{{=country.name}}"></button>
                            </div>
                            {{=country.fullName}}
                        </h1>
                        <h2 class="indc-article__heading">{{=country.heading || 'Headline missing'}}</h2>
                        <h2 class="indc-article__blurb">
                            <div class="indc-article__emissions" country="{{=country.name}}">
                                CO2e emissions (MtCO2e)
                            </div>
                            {{=country.blurb}}
                        </h2>
                    </div>
                </div>
                <div class="indc-article__body-container">
                    <div class="indc-article__body is-collapsed">
                        {{=country.body}}
                        <button class="indc-article__more">Read more</button>
                    </div>
                </div>
            </div>
        {{~}}
    </div>
    <div class="indc-header" style="padding: 20px; box-sizing: border-box">
        <b>By Matt Osborn, Troy Griggs, Will Franklin</b>
    </div>
</div>
