<div class="indc-container indc-container--bison">
    <div class="indc-header">
        <div class="indc-furniture">
            <h1 class="indc-title">Which countries are doing the most to stop dangerous global warming?</h1>
            <p>
                In November, nearly 200 countries meet in Paris for
                <a href="http://www.theguardian.com/environment/2015/jun/02/everything-you-need-to-know-about-the-paris-climate-summit-and-un-talks">UN talks to agree a new climate deal</a>.
                Find out below how their pledges - known as Intended Nationally Determined Contributions or INDCs in
                UN jargon - compare in our in-depth analysis of 14 key countries and blocs
            </p>
            <ul>
                <li><a href="http://www.theguardian.com/environment/2015/oct/05/a-story-of-hope-the-guardian-launches-phase-two-of-its-climate-change-campaign">Sign up for the Guardian’s Keep it in the Ground campaign</a></li>
            </ul>
            <p>
                <button class="interactive-share" data-network="facebook"></button>
                <button class="interactive-share" data-network="twitter" data-country="all"></button>
            </p>
        </div>
    </div>
</div>
<div class="indc-container">
    <div class="indc-header">
        <div class="indc-overview-container" started="false">
            <div class="indc-copy indc-copy--desktop">
                <h3 class="indc-copy__header"></h3>
                <p class="indc-copy__desc"></p>
            </div>

            <div class="indc-stepper">
                <button class="indc-stepper__arrow indc-stepper__arrow--prev">
                    <svg width="48" height="48" viewBox="-12.5 -12.5 48 48"><path d="M0 11.5l10.296 10.1.96-.96L3.2 12H23v-2H3.2L11.255.96l-.96-.96L0 10.5v1" fill="black"/></svg>
                </button>
                <button class="indc-stepper__arrow indc-stepper__arrow--next">
                    <svg width="48" height="48" viewBox="-12.5 -12.5 48 48"><path d="M23 11.5L12.704 21.6l-.96-.96L19.8 12H0v-2h19.8L11.745.96l.96-.96L23 10.5v1" fill="black"/></svg>
                </button>
                <div class="indc-stepper__progress">
                    <span class="indc-stepper__currentview"></span>
                    of
                    <span class="indc-stepper__viewcount"></span>
                </div>
            </div>

            <div class="indc-svg-container"></div>

            <div class="indc-copy indc-copy--mobile">
                <h3 class="indc-copy__header"></h3>
                <p class="indc-copy__desc"></p>
            </div>

        </div>
    </div>

    <div class="indc-country-menu-placeholder">
        <div class="indc-country-menu-hide-scrollbar">
        <div class="indc-country-menu-container">
            <ul class="indc-country-menu">
            {{~it.countries :country:i}}
            <li class="indc-country-menu__item" country="{{=country.name}}">{{=country.name}}</li>
            {{~}}
            </ul>
        </div>
        </div>
    </div>

    <div class="indc-content-container">
        {{~it.countries :country:i}}
            <div class="indc-article" country="{{=country.name}}">
                <a class="indc-article__anchor" country="{{=country.name}}"></a>
                <div class="indc-article__header-container">
                    <div class="indc-article__header">
                        <h1 class="indc-article__country">
                            <div class="indc-article__country__share">
                                <button class="interactive-share" data-network="facebook"></button>
                                <button class="interactive-share" data-network="twitter" data-country="{{=country.name}}"></button>
                            </div>
                            {{=country.fullName}}
                        </h1>
                        <h2 class="indc-article__heading">{{=country.heading || 'Headline missing'}}</h2>
                        <h2 class="indc-article__blurb">
                            <div class="indc-article__emissions" country="{{=country.name}}">
                                CO2e emissions (MtCO2e)
                            </div>
                            {{=country.blurb}}
                        </h2>
                    </div>
                </div>
                <div class="indc-article__body-container">
                    <div class="indc-article__body is-collapsed">
                        {{=country.body}}
                        <button class="indc-article__more" data-link-name="read-more-{{=country.name}}">Read more</button>
                    </div>
                </div>
            </div>
        {{~}}
    </div>
    <div class="indc-header indc-header--footer">
        <p>
            <b>
                By
                <a href="http://www.theguardian.com/profile/caelainn-barr">Caelainn Barr</a>,
                <a href="http://www.theguardian.com/profile/will-franklin">Will Franklin</a>,
                <a href="http://www.theguardian.com/profile/troy-griggs">Troy Griggs</a>,
                <a href="http://www.theguardian.com/profile/karl-mathiesen">Karl Mathiesen</a>,
                <a href="http://www.theguardian.com/profile/matt-osborn">Matt Osborn</a> and
                <a href="http://www.theguardian.com/profile/adam-vaughan">Adam Vaughan</a>
            </b>
        </p>
        <p class="indc-note">
            Data provided by <a href="http://climateactiontracker.org/">Climate
            Action Tracker</a>, INDCs submitted to the UN and the US EIA. We have
            used the upper ranges for pledges. For example, the US has pledged to cut
            emissions 26-28% by 2025 so here we have assumed a 28% cut. Some countries,
            such as Indonesia, have also said that the highest cut in their INDCs is
            conditional on other factors, such as receiving further financial
            assistance.
        </p>
    </div>
</div>
