@import 'font';
@import 'mq';

body, html {
    margin: 0;
    padding: 0;
}

body { background: #f5f5f5; }

p { margin: 0 0 8px 0; }

body,
figure.interactive {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

$c-developing: #F69A31;
$c-developed: #4A84B8;

$h-countryMenu: 40px;

.indc-header,
.indc-article__header,
.indc-country-menu,
.indc-article__body-container {
    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.indc-article__body,
.indc-header--footer {
    a {
        color: #005689;
        text-decoration: none;
        border-bottom: 1px solid #dcdcdc;
        transition: border-bottom-color 0.15s ease-out;
        &:hover {
            text-decoration: none;
            border-bottom-color: #6e99b3;
        }
    }
}

.indc-furniture a {
    color: #781100;
    text-decoration: none;
    border-bottom: 1px solid transparentize(#781100, 0.5);
    transition: border-bottom-color 0.15s ease-out;
    &:hover {
        text-decoration: none;
        border-bottom-color: #781100;
    }
}

.indc-header--footer {
    padding: 20px;
    box-sizing: border-box;
}

.indc-article__header,
.indc-article__body-container {
    box-sizing: border-box;
    padding: 0 10px;
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }
    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.indc-furniture,
.indc-overview-container {
    margin: 0 10px;
    @include mq(mobileLandscape) {
        margin: 0 20px;
    }
    @include mq(leftCol) {
        margin: 0 160px;
    }
    @include mq(wide) {
        margin: 0 240px;
    }
}

.indc-furniture {
    max-width: 740px;
    color: #333;
    padding-bottom: 20px;

    @include fs-bodyCopy(2);

    p {
        max-width: 620px;
    }

    ul {
        list-style: none;
        margin: 0 0 8px 0;
        padding: 0;
    }

    li {
        &::before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 4px;
            border-radius: 100px;
            background-color: #333;
        }
    }
}

.indc-title {
    @include f-headline;
    line-height: 1;
    margin: 24px 0 12px 0;
    color: #333;

    font-size: 40px;
    @include mq(tablet) {
        font-size: 56px;
    }
}

.indc-lines {
    line {
        stroke-width: 1;
        fill: none;
        vector-effect: non-scaling-stroke;
        shape-rendering: crispEdges;
    }
    .indc-zeropledge {
        stroke: #bdbdbd;
    }
}

.indc-line {
    stroke-width: 1;
    fill: none;
    vector-effect: non-scaling-stroke;
}

.indc-labels text {
    text-anchor: middle;
    font-size: 14px;
}

.indc-pledgelabel,
.indc-emissionslabel {
    text-anchor: end;
    fill: white;
}
.indc-pledgelabel {
    .indc-country--developed & {
        fill: $c-developed;
    }
    .indc-country--developing & {
        fill: $c-developing;
    }
}

.indc-country--developed {
    .indc-point { fill: $c-developed; }
    .indc-line { stroke: $c-developed; }
    .indc-country-label { fill: $c-developed; }
    .indc-overview--developed & {
        display: none;
    }
}

.indc-country--developing {
    .indc-point { fill: $c-developing; }
    .indc-line { stroke: $c-developing; }
    .indc-country-label { fill: $c-developing; }
    .indc-overview--developing & {
        display: none;
    }
}

.indc-overview {
    @include mq(tablet) {
        margin-top: -24px;
    }
}

.indc-overview-container {
    padding-top: 10px;
    @include mq(mobileLandscape) {
        padding-top: 20px;
    }
    min-height: 200px;
    max-width: 960px;
    position: relative;

}

.indc-line--gridline {
    stroke: #e1e1e1;
    stroke-dasharray: 2, 5;
}

.indc-overview {
    .indc-line--1990,
    .indc-line--2012,
    .indc-line--2030,
    .indc-line--past,
    .indc-line--projection,
    .indc-line--pledge {
        vector-effect: non-scaling-stroke;
        shape-rendering: crispEdges;
    }
}

.indc-line--2012 {
    stroke-width: 2;
}

.indc-line--projection {
    stroke-width: 2;
}
.indc-line--pledge {
    stroke-dasharray: 2,1;
    stroke-width: 4px;
    @include mq(tablet) {
        stroke-width: 7;
        stroke-dasharray: 0;
    }
    .indc-overview {
        @include mq(tablet) {
            stroke-width: 10;
        }
    }
}

.indc-line--emissions {
    stroke-width: 2;
    stroke: white !important;
}

.indc-line--past {
    opacity: 0.3;
    display: none;
    stroke-width: 10;
    stroke-dasharray: 1 1;
    .indc-country--developed & { stroke: $c-developed; }
    .indc-country--developing & { stroke: $c-developing; }
}

.indc-country-label {
    text-anchor: middle;
    font-size: 12px;
    fill: #767676;
    opacity: 0.7;
    stroke: white;
    paint-order: stroke;
    stroke-width: 2;
    @include mq(tablet, $until: desktop) {
        font-size: 10px;
    }
}

.indc-key {
    display: block;
    font-size: 12px;
    fill: #767676;
}

.indc-zeroline {
    stroke: #dfdfdf;
}

.indc-todayline {
    stroke: #bdbdbd;
    shape-rendering: crispEdges;
    stroke-dasharray: 4,3;
}

.indc-controls {
    float: right;
    display: none;
    label {
        display: block;
    }
}

.indc-zerolabel {
    @include fs-textSans(1);
    text-anchor: start;
    fill: #767676;
}

.indc-control-panel {
    input {
        display: none;
    }
    label span {
        display: inline-block;
        background-color: #f1f1f1;
        border-radius: 24px;
        @include fs-textSans(1);
        padding: 4px 10px;
        cursor: pointer;
    }
    input:checked + span {
        background-color: #005689;
        color: #fff;
    }
    display: none;
    position: absolute;
    left: 0;
    top: 500px;
}

.indc-country-hitbox {
    fill: transparent;
    stroke: none;
    // cursor: pointer;
}

.indc-overview-container[view="cumulative"],
.indc-overview-container[view="cumulativezoom"],
.indc-overview-container[view="1990"] {
    .indc-key {
        display: none;
    }
    .indc-country {
        .indc-line--2012 {
            stroke-width: 3;
        }
        .indc-line--pledge,
        .indc-line--projection {
            display: none;
        }
    }
}

.indc-overview-container[view="2012"] {
    .indc-key {
        .indc-line--projection, .indc-key__projection-text,
        .indc-line--pledge, .indc-key__pledge-text {
            display: none;
        }
    }
    .indc-country {
        .indc-line--2012 {
            stroke-width: 3;
        }
        .indc-line--pledge,
        .indc-line--projection {
            display: none;
        }
    }
}

.indc-overview-container[view="2030"] {
    .indc-key {
        .indc-line--pledge, .indc-key__pledge-text {
            display: none;
        }
    }
    .indc-country {
        .indc-line--pledge {
            display: none;
        }
    }
}


.indc-overview-container[view="2012"] .indc-country .indc-line--past {
    display: block;
}

.indc-overview-container[view="2012"] .indc-key .indc-line--past {
    display: inline;
}

.indc-overview-container:not([view="2012"]) .indc-key .indc-key__past-text {
    display: none;
}

.indc-svg-container {
    @include f-textSans;

    padding-top: 12px;
    @include mq(tablet) {
        padding-top: 0;
    }
}
.indc-copy {
    z-index: 1;
    position: relative;
    max-width: 620px;
    background-color: white;
}


.indc-copy--desktop {
    @include mq($until: tablet) {
        display: none;
    }
}

.indc-copy--mobile {
    padding-bottom: 24px;
    @include mq(tablet) {
        display: none;
    }
}

.indc-copy__header {
    @include fs-bodyHeading(1);
    top: 0;
    left: 30px;
    margin-top: 0;
    margin-bottom: 6px;
    @include mq(tablet) {
        @include fs-bodyHeading(3, true);
        position: static;
    }
}

.indc-copy__desc {
    @include fs-bodyCopy(1);
    min-height: 80px;
    margin-bottom: 0;
    margin-top: 6px;
}

.indc-axis__line {
    stroke: #dfdfdf;
    shape-rendering: crispEdges;
}
.indc-axis__text {
    @include fs-textSans(3);
    fill: #999;
}
.indc-axis__hover {
    stroke: #e1e1e1;
    shape-rendering: crispEdges;
}

.indc-axis__hovertext {
    @include fs-textSans(1);
    fill: #999;
}

.indc-country {
    @include fs-textSans(1);
    font-weight: normal;
    .indc-chartlabel {
        fill: #bdbdbd;
        text-anchor: middle;
    }
}

.indc-stepper {
    margin: auto;
    position: absolute;
    svg {
        display: block;
    }
}
.indc-stepper__progress {
    @include fs-textSans(4);
    line-height: 30px;
    color: #333;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background-color: white;
    margin: 0 5px;
}

.indc-stepper__arrow {
    background-color: white;
    border: 0;
    outline: 0;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 100px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: opacity 0.1s ease-out;
}

.indc-stepper__arrow--prev {
    .indc-overview-container[view="2030"] & {
        opacity: 0.2;
        cursor: default;
    }
}

@keyframes bounce {
    0%    {opacity: 1; right: calc(100% + 5px)}
    50%   {opacity: 1; right: calc(100% + 15px)}
    100%  {opacity: 1; right: calc(100% + 5px)}
}


.indc-stepper__arrow--next {
    .indc-overview-container[view="2012"] & {
        opacity: 0.2;
        cursor: default;
    }
}

.indc-country-card__chart {
    position: absolute;
    top: 10px;
    right: 24px;
}

.indc-line--card {
    stroke: #767676;
}


.indc-header {
    background: white;
    padding-top: 12px;
    margin: auto;
}
.indc-content-container {
    margin: auto;
    background-color: #f7f7f7;
}
.indc-content-body {
    max-width: 620px;
    margin: auto;
}

.indc-article {
    overflow: hidden;
}

.indc-article__anchor {
    position: relative;
    top: -$h-countryMenu;
    display: block;
    height: 0;
}

.indc-article__header-container {
    background: #535353;
}

.indc-article__header {
    background: #969696;
    margin: 0 auto;
    position: relative;
    padding-bottom: 12px;

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.indc-article__country {
    color: #333;
    @include fs-bodyHeading(4);
    margin: 0;
    padding-bottom: 12px;
    padding-top: 12px;
    @include mq(desktop) {
        padding-top: 24px;
    }
    position: relative;
}

.indc-article__country__share {
    float: right;
    white-space: nowrap;
    @include mq(leftCol) {
        position: absolute;
        margin-right: 20px;
        right: 100%;
    }
}

.indc-article__heading {
    @include fs-headline(7);
    color: #fff;
    margin: 0;
    padding-bottom: 12px;
    @include mq(tablet) {
        max-width: 360px;
    }
    @include mq(desktop) {
        max-width: 520px;
    }
}

.indc-article__blurb {
    @include fs-header(3);
    font-weight: 600;
    max-width: 620px;
    color: #bdbdbd;
    margin: 0;
    padding: 0 0 8px;
    @include mq(mobileLandscape) {
        @include fs-header(4, $size-only: true);
        padding: 12px 0;
    }

}

.indc-article__body-container {
    @include fs-bodyCopy(2);
    color: #333;
    background: #ffffff;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 60px;
    @include mq(mobileLandscape) {
        padding-top: 20px;
        padding-bottom: 72px;
    }
}

.indc-article__body {
    max-width: 620px;

    &.is-collapsed {
        p {
            display: none;
            &:nth-of-type(1),
            &:nth-of-type(2) {
                display: block;
            }
        }

        figure {
            display: none;
        }
    }

    p:last-child {
        margin-bottom: 0;
        padding-bottom: 24px;
    }
}

.indc-article__more {
    @include fs-textSans(4);
    font-weight: bold;

    border: 0;
    outline: 0;
    margin: 20px 0 0 0;
    padding: 5px 10px;
    color: white;
    background: #005689;
    border-radius: 100px;
    cursor: pointer;

    display: none;
    .is-collapsed & {
        display: block;
    }
}

.indc-country-menu-placeholder {
    height: 60px;
    position: relative;
    z-index: 5;
}


.indc-country-menu-placeholder--fixed {
    background-color: #c3c3c3;
    .indc-country-menu-hide-scrollbar {
        position: fixed;
        top: 0;
    }
    .indc-country-menu {
        line-height: $h-countryMenu;
        height: $h-countryMenu;
    }
}

.indc-country-menu-hide-scrollbar {
    position: relative;
    overflow: hidden;
    height: 60px;
    width: 100%;
    .indc-country-menu-placeholder--fixed & {
        height: $h-countryMenu;
    }
}

.indc-country-menu-container {
    background-color: #c3c3c3;
    position: absolute;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

.indc-country-menu {
    list-style-type: none;
    background-color: #cbcbcb;
    padding: 0 5px;
    box-sizing: border-box;
    margin: auto;
    @include fs-bodyHeading(1);
    line-height: 60px;
    height: 60px;
    display: table;
    width: 100%;
    @include mq(tablet) {
        padding: 0 15px;
    }
    @include mq(desktop) {
        padding: 0 35px;
    }
}

.indc-country-menu__item {
    display: table-cell;
    color: white;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    box-sizing: border-box;
    padding: 0 5px;
    text-align: center;
}

@each $country in ('EU', 'Japan', 'Russia', 'US', 'Canada', 'Australia') {
    .indc-container[country="#{$country}"] .indc-country-menu__item[country="#{$country}"],
    .indc-country-menu__item[country="#{$country}"]:hover {
        border-color: #333;
        color: #333;
    }
    .indc-article[country="#{$country}"] .indc-article__country { color: $c-developed; }
}

@each $country in ('Brazil', 'China', 'India', 'Indonesia', 'Ethiopia', 'Kenya', 'Mexico', 'Morocco') {
    .indc-container[country="#{$country}"] .indc-country-menu__item[country="#{$country}"],
    .indc-country-menu__item[country="#{$country}"]:hover {
        border-color: #333;
        color: #333;
    }
    .indc-article[country="#{$country}"] .indc-article__country { color: $c-developing; }
}

.indc-article__emissions {
    @include fs-textSans(2);
    font-weight: normal;
    width: 100%;
    height: 130px;
    margin-bottom: 40px;
    @include mq(mobileLandscape) {
        margin-top: 8px;
        margin-left: 25px;
        width: 220px;
        float: right;
    }
}

.element-image {
    display: block;
    width: 100%;

    margin: 24px 0;

    img {
        width: 100%;
        height: auto;
    }
    figcaption {
        @include fs-textSans(1);
        color: #767676;
    }
}

.indc-note {
    @include fs-textSans(2);
    color: #767676;
}

.indc-container--bison {
    background-color: #e6711b;

    .indc-header {
        background-color: transparent;
        background-image: url(http://media.guim.co.uk/4710fef37d1990dfdc79aa2e505caf896d37cee2/0_400_5881_3530/2000.jpg);
        background-size: cover;
        background-position: center;

    }
}

@import "share"
